.brand-logo {
    font-size: 32px;
}

h1 {
    font-size: 32px;
    letter-spacing: 5px;
    /* font-weight: bold; */
    /* text-decoration: underline; */
}

.top-paragraph {
    margin-top: 0;
    font-size: 20px;
}

p {
    font-size: 20px;
}

body {
    font-family: Inconsolata;
}

.nav-links {
    font-weight: bold;
}

.bottom-links {
    /* font-weight: bold; */
    text-decoration: underline;
}

.bottom-links-header {
    font-weight: bold;
    font-size: 21px;
}

.hover-change:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#github-image {
    border-left: 0;
}

.copywrite {
    font-size: 14px;
}

.saguaro-sunset-img {
    height: 200px;
    width: 400px;
}

.portfolio-pic {
    height: 150px;
    width: 150px;
}

.porfolio-pic-small {
    height: 25px;
    width: 25px;
}