.brand-logo {
    font-size: 32px;
}

h1 {
    font-size: 32px;
    letter-spacing: 5px;
}

h2 {
    font-size: 28px;
}

.top-paragraph {
    margin-top: 0;
    font-size: 20px;
}

p {
    font-size: 20px;
}

body {
    font-family: Inconsolata;
}

.nav-links {
    font-weight: bold;
}

.bottom-links {
    text-decoration: underline;
}

.bottom-links-header {
    font-weight: bold;
    font-size: 21px;
}

.hover-change:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#github-image {
    border-left: 0;
}

.copywrite {
    font-size: 14px;
}

.saguaro-sunset-img {
    height: 200px;
    width: 400px;
}

.portfolio-pic {
    height: 150px;
    width: 150px;
}

.porfolio-pic-small {
    height: 25px;
    width: 25px;
}

.footer-social {
    height: 40px;
    width: 40px;
}

.project-link {
    text-decoration: underline;
}

.collection-text {
    font-size: 20px;
}

.collapsible-header {
    color: white;
}

.bold {
    font-weight: bold;
}

.about-header {
    font-size: 22px;
}

.about-bullets {
    font-size: 18px;
}

.email-link {
    text-decoration: underline;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #3f51b5;
  -webkit-box-shadow: 0 1px 0 0 #3f51b5;
          box-shadow: 0 1px 0 0 #3f51b5;
}

.tabs .tab a {
    color: #1a237e;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease;
    transition: color .28s ease;
  }
  
  .tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #1a237e;
  }
  
  .tabs .tab.disabled a,
  .tabs .tab.disabled a:hover {
    color: white;
    cursor: default;
  }
  
  .tabs .indicator {
    position: absolute;
    left: 0;
    height: 3px;
    background-color: #1a237e;
    will-change: left, right;
  }

  .table-of-contents a.active {
    font-weight: 500;
    padding-left: 18px;
    border-left: 2px solid #1a237e;
  }
  
  .table-of-contents a:hover {
    color: #7986cb;
    padding-left: 19px;
    border-left: 1px solid #1a237e;
  }

  .table-of-contents a {
    display: inline-block;
    font-weight: 300;
    color: #1a237e;
    padding-left: 20px;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: .4;
    display: inline-block;
  }
  
  .table-of-contents a.active {
    font-weight: 500;
    padding-left: 18px;
    color: #7986cb
  }

  .scrollspy-sidebar {
    top: 0;
    padding-top: 178px;
    position: fixed;
  }