.brand-logo {
    font-size: 32px;
}

h1 {
    font-size: 32px;
    letter-spacing: 5px;
    /* font-weight: bold; */
    /* text-decoration: underline; */
}

.top-paragraph {
    margin-top: 0;
    font-size: 20px;
}

p {
    font-size: 20px;
}

body {
    font-family: Inconsolata;
}

.nav-links {
    font-weight: bold;
}

.bottom-links {
    font-weight: bold;
}

.bottom-links-header {
    font-weight: bold;
    text-decoration: underline;
    font-size: 21px;
}
